input {
  width: 500px !important;
}
.center {
  text-align: center;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.card {
  min-height: 300px !important;
  min-width: 736px !important;
  padding: 20px !important;
}

#loader {
  background: aliceblue;
  z-index: 9;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#acc {
  color: red;
  text-align: center;
}
.mydivider {
  width: 2px;
 
  border-left: 1px solid gainsboro;
  height: 6%;
  position: absolute;
  right: 49%;
  bottom: 67px;
}
/* FI === following */
.FI{
margin-right: 5%;


}
.pt-1perc{padding-top:1% !important;} 
